.colNo3 {
  max-width: 250px;
  margin: 15px auto;
}
.colNo2 {
  max-width: 550px;
  margin: 15px auto;
  text-align: left;
}
#goback-btn {
  float: left;
  border-radius: 5px;
}

.colNo1 {
  margin: 0 auto;
  clear: both;
}
.amount-btn {
  border: none;
  font-size: 1rem;
}
.amount-btn:active {
  border: none;
}

#amount-btn-parent {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2px;
}
#pop-up-cart{
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 2;
  display: block;
  position: fixed;
  top :100px;
  right: 10px;
  width: 80vw;
  max-width: 300px;
  min-height: 400px;
  max-height: 450px;
  opacity: 0.95;
  background-color: #919aa1;
  background-color: #e8eaec;
  border: 2px solid black;
  text-align: left;
}

#close-cart-btn{
  display: block;
  margin-left: auto;
  margin-right: 0;
}
#header-cart{
  color: blue;
}
#deleteBtn{
  background-color: red;
  border: 50%;
}